/* /* .App {
  padding: 10px;
  width: 100%;
} */
/* .comment_block {
  border: 1px solid #D7D7D7;
  border-radius: 4px;
  max-width: 100%;
  padding: 0 10px;
  margin-bottom: 10px;
}
.avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 16px;
}
.top {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 16px;
}
.date {
  margin-left: auto;
  font-size: 12px;
  color: #9D9D9D;
}
.name {
  font-size: 12px;
  font-weight: bold;
}
.text {
  margin-bottom: 16px;
} */ 


table {
  width: 900px;
  margin: 10px auto;
  font-family: 'Roboto', sans-serif;
}

thead {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #808080;
}

tbody {
  font-size: 12px;
  line-height: 100%;
  color: #7E7E7E;
}

tbody tr:nth-child(even) {
  background-color: #FAFAFA;
}

.trackImage {
  width: 33px;
  height: 33px;
  border-radius: 5px;
}

.trackName{
  font-weight: normal;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.2px;
  color: #000;
}

a {
  width: 60px;
  height: 20px;
  padding: 4px 12px;
  border: 1px solid #7E7E7E;
  box-sizing: border-box;
  border-radius: 4px;
  text-decoration: none;
  color: #808080;
}


tbody td {
  padding: 0px;
}

tbody tr:hover {
  box-shadow: 2px 7px 29px -6px rgba(34, 60, 80, 0.43);
  transition: transform .2s;
  transform: scale(1.009);
}
